// WordPress Alignments

.alignleft {

	float: left;
	margin-bottom: 16px;
	margin-right: 16px;
}

.alignright {

	float: right;
	margin-bottom: 16px;
	margin-left: 16px;
}

.aligncenter {

	margin: 16px auto;
}

.alignnone {

	margin-bottom: 16px;
}
